
.site-masthead {
  display: block;
  padding: 5px;
  float: left;
}

img:hover {
  border-bottom: 1px solid black;
}

.site-nav { float: right; line-height: 60px; }

.site-title {
}

.sep {
  margin-top: 50px;
  border-bottom: 1px solid #e8e8e8;
}
